.App {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  color: rgb(26, 71, 121);
}

.h2 {
  font-size: 30px;
  font-weight: 100;
}

.contact-icon {
  width: 30px !important;
  height: auto;
  justify-content: center;
  margin: 10px;
}

.logo {
  width: 250px;
  height: auto;
}

