.App {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;

}

body {
background-color: rgba(85, 113, 111);
}

.h2 {
  font-size: 30px;
  font-weight: 100;
}


.contact-icon {
  width: 30px !important;
  height: auto;
  justify-content: center;
}

.logo {
  width: 200px;
  height: auto;
  border: 50px white ;
  border-radius: 10px;
}


.carousel-image {
  max-width: 50%; 
  max-height: auto; 
  width: auto;
  height: auto;
  margin: auto; 
  border-radius: 1%;
}
